body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    background-color: #C5C56A;

}
.container{
  padding: 0;
}
.container img {
  width: 145px;
  height: 102px;
  display: inline-block;
}
.container h1 {
  display: inline-block;

}
#blockskip a {
  position: absolute;
  top: 0;
  left: -9999px;
  display: block;
  text-align: center;
}

#blockskip a:focus {
  z-index: 11000;
  left: 0;
  right: 0;
  margin: auto;
}
.btn-rounded{
  border-radius : 1000px;
}


.color__btn {
  background-color: #80CBC4;
  color: #212121;
}
.color__navi {
  background-color: #fff;
}
.color__logo {
  color: #212121;
  font-size: 32px;
  margin-top: 15px;
}
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  background-color: transparent;
  border-bottom : 3px solid #303F9F;
}

.toggler__txt{
  display : block;
  font-size : 0.5em;
}
.nav__main{
  font-size : 1.2em;
}
.nav__sub{
  font-size : 0.8em;
}

@media (max-width: 767.98px) { 
  .nav__main{
  font-size : 1em;
  }
  .nav__sub{
      font-size : 1em;
  }
  .navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
      background-color: #efefef;
      border-bottom : none;
  }
}
/* .wrapper {
  max-width: 1240px;
  margin: 0 auto;
} */
header {
  background: tomato;
}
.topNavigation{
  height: 70px;
  text-align: center;
  background-color: #888;
  color: #fff;
}
.content{
  flex: 1;
  background-color: #eee;
  text-align: center;
  margin-top: 10px;
}


#example {
  width: 100%;
  height: 404px;
  color: white;
}

@media (max-width: 640px) {

  #example .crs-bar-roll-current {
    width: 38px;
    height: 38px;
  }

  #example .crs-bar-roll-item {
    width: 30px;
    height: 30px;
  }
  
}



.access {
  display: flex;
  background: #AA5C3F;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
.access_left {
  color: white;
  width: 51.6%;
  font-weight: bold;
}
.access_title {
  padding: 14px;
  padding-left: 0;
}
.access_title::after {
  margin-top: 14px;
  margin-bottom: 22px;
  content: "";
  display: block;
  background-color: #888888;
  height: 2px;
  width: 68px;
}
.access_text_01 {
  margin-bottom: 38px;
}
.address {
  margin-bottom: 8px;
}
.access_left_content {
  margin: 88px;
  margin-right: 0%;
}
.access_right {
  width: 48.4%;
}
footer {
  background: plum;
}
.lp-block_1{
  /* margin: 0 calc(50% - 50vw);
  width: 100vw; */
}
.lp-item_1 {
  background-color: #C5C56A;
  
}
.lp-item {
  margin: 70px 20px 0 20p
}
.lp-sec-image > .lp-block {
  padding: 0vw;
}

.lp-sec-inline > .lp-block {
  padding: 0;
  padding-bottom: 30px;
  padding-right: 0;
  margin-left: 0;
}
.lp-sec-image > .lp-block {
  margin: 0;
}
.lp-block {
  padding: 0;
}
@media (max-width: 600px){
  .container {
    flex-direction: column;
  }
  .main,
  .side {
    width: 100%;
  }
}

.lp-sec-inline--3 > .lp-block > .lp-list {
  margin: 0;
}
/* container */
.wrapper{
  width:100%;
  background-color:#fafafa;
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper .container .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.wrapper .content-item {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper .content-item {
      width:50%;
  }
}
.wrapper .image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.wrapper .text{
  padding:50px;
}
.wrapper .text .heading{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}


